# “New Style” String Formatting (str.format)

In [36]:
name='bob'
'Hello, {}'.format(name)

'Hello, bob'

In [1]:
# 20까지의 짝수를 출력
evens = [x * 2 for x in range(11)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
# 리스트의 모든 원소값을 정규화 시킨 후 상수값을 더하는 LC
vals = [32, 12, 96, 42, 32, 93, 31, 23, 65, 43, 76]
amount = sum(vals)
norm_and_move = [(x / amount) + 1 for x in vals]
norm_and_move

[1.0587155963302752,
 1.0220183486238532,
 1.1761467889908257,
 1.0770642201834861,
 1.0587155963302752,
 1.1706422018348623,
 1.0568807339449542,
 1.0422018348623854,
 1.1192660550458715,
 1.0788990825688074,
 1.1394495412844037]

In [22]:
# 100 이하의 제곱수가 아닌 수를 찾는 LC
from math import sqrt
non_squars = [x for x in range(101) if sqrt(x)**2 != x]
non_squars

[2,
 3,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 15,
 18,
 19,
 20,
 23,
 24,
 26,
 28,
 29,
 31,
 32,
 37,
 38,
 40,
 43,
 45,
 48,
 50,
 51,
 52,
 58,
 59,
 60,
 61,
 63,
 65,
 66,
 72,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 87,
 89,
 92,
 94,
 95,
 96,
 97]

In [24]:
# 두 리스트의 원소들의 모든 조합을 찾는 LC
epithets = ['sweet', 'annoying', 'cool', 'grey-eyed']
names = ['john', 'alice', 'james']
epithet_names = [(e, n) for e in epithets for n in names]
epithet_names

[('sweet', 'john'),
 ('sweet', 'alice'),
 ('sweet', 'james'),
 ('annoying', 'john'),
 ('annoying', 'alice'),
 ('annoying', 'james'),
 ('cool', 'john'),
 ('cool', 'alice'),
 ('cool', 'james'),
 ('grey-eyed', 'john'),
 ('grey-eyed', 'alice'),
 ('grey-eyed', 'james')]

In [27]:
# a^2 + b^2 = c^2 (a < b < c)를 만족하는 피타고라스 방정식의 해를 찾는 LC
solutions = [(x, y, z) for x in range(1, 30) for y in range(x, 30) for z in range(y, 30) if x**2 + y**2 == z**2]
solutions

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [30]:
# 단어에서 모음을 제거하는 LC
word = 'mathematics'
without_vowels = ''.join([c for c in word if c not in ['a', 'e', 'i', 'o', 'u']])
without_vowels

'mthmtcs'

In [32]:
matrix = [
  [1, 2, 3, 4],
  [5, 6, 7, 8],
  [9, 10, 11, 12],
]
flatten = [e for r in matrix for e in r]
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]