In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
df = pd.read_csv("edu_age_earn.csv")
df.head(10)

           earn  ed  age
0  79571.299010  16   49
1  96396.988640  16   62
2  48710.666950  16   33
3  80478.096150  16   95
4  82089.345500  17   43
5  15313.352900  15   30
6  47104.171820  12   53
7  50960.054280  17   50
8   3212.649556  15   25
9  42996.637880  12   30

In [3]:
#1.ed와 earn의 상관계수의 값을 구하세요
df.earn.corr(df.ed)

0.3503735148904951

In [36]:
#2.earn과 나이별(0-10, 11-20, 21-30, 31-40)의 상관계수를 구하세요
for i in range(0,10):
    if i == 0:
        print("10세 이하:")
        print("\t",df.age[(df.age <= 10)].corr(df.earn))
    elif i == 9:
        print("91세 이상:")
        print("\t",df.age[(df.age > 90)].corr(df.earn))
    else:
        print("%d세 이상 %d세 이하:"%(i*10 + 1, (i + 1)*10))
        print("\t",df.age[(i*10 < df.age) & (df.age <= (i+1)*10)].corr(df.earn))

10세 이하:
	 nan
11세 이상 20세 이하:
	 nan
21세 이상 30세 이하:
	 0.3652741439931792
31세 이상 40세 이하:
	 0.07795380215248016
41세 이상 50세 이하:
	 0.006322851904905083
51세 이상 60세 이하:
	 -0.05970773482120377
61세 이상 70세 이하:
	 -0.015805894192433438
71세 이상 80세 이하:
	 0.1734428077773377
81세 이상 90세 이하:
	 0.09824961228808986
91세 이상:
	 0.7506883736902348

In [29]:
#3.ed와 earn의 데이터를 이용, 회귀분석을 실시해서 총 교육받은 연수가 15,16,18,19,20년일 경우의 수입을 구하세요.
lm = LinearRegression()
lm = lm.fit(np.array(df.ed.values).reshape(-1,1), np.array(df.earn.values).reshape(-1,1))
newEarn = lm.predict(np.arange(15,21).reshape(-1,1))
newEarn

array([[39835.26500108],
       [44325.96262598],
       [48816.66025088],
       [53307.35787578],
       [57798.05550069],
       [62288.75312559]])