In [28]:
import pandas as pd
import numpy as np

In [5]:
def ex1(x):
    return x / 2
def ex2(x):
    return x ** 2
def ex3(x):
    return x + 1

In [6]:
f = lambda x: x / 2
f(3)

1.5

In [7]:
ex1(3)

1.5

In [2]:
f = lambda x: x ** 2
f(3)

9

In [8]:
ex2(3)

9

In [4]:
(lambda x: x + 1)(5)

6

In [9]:
ex3(5)

6

In [12]:
f = lambda x, y: x + y
f(1, 2)

3

In [20]:
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2
list(map(f, ex))

[1, 4, 9, 16, 25]

In [18]:
ex = ["1", "2", "3"]
intList = list(map(int, ex))
intList

[1, 2, 3]

In [22]:
f = lambda x, y: x + y
list(map(f, ex, ex))

[2, 4, 6, 8, 10]

In [24]:
list(map(lambda x: x + x, ex))

[2, 4, 6, 8, 10]

In [33]:
s1 = pd.Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [35]:
s1.map(lambda x: x ** 2)

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [39]:
z = {1: 'A', 2: 'B', 3: 'C'}
s1.map(z)

0    NaN
1      A
2      B
3      C
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [41]:
z = pd.Series(np.arange(10, 20))
s1.map(z)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32