
docs = np.array([
        'The sun is shining',
        'The weather is sweet',
        'The sun is shining and the weather is sweet'])



1. 모두 소문자로 변환
2. 30개 문자(빈칸 포함)만  출력
3. 추출한 Token의 빈도를 출력
4. td_idf 값 출력

In [20]:
from konlpy.tag import Okt
import numpy as np
docs = np.array([
    'The sun is shining',
    'The weather is sweet',
    'The sun is shining and the weather is sweet'])

tagger = Okt() 
docs=docs.tolist()
type(docs)
docs

['The sun is shining apple orange',
 'The weather is sweet apple orange',
 'The sun is shining and the weather is sweet apple orange']

1. 모두 소문자로 변환

In [21]:
docs=list(map(lambda x: x.lower(),docs))
docs

['the sun is shining apple orange',
 'the weather is sweet apple orange',
 'the sun is shining and the weather is sweet apple orange']

2. 30개 문자(빈칸 포함)만 출력

In [22]:
texts =' '.join(docs)
texts[:30]

'the sun is shining apple orang'

3. 추출한 Token의 빈도를 출력

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
cv = CountVectorizer()
print(docs)
tdm = cv.fit_transform(docs)
word_count  = pd.DataFrame(
    {'단어': cv.get_feature_names(),
     '빈도': tdm.sum(axis=0).flat
    }
)
word_count.sort_values('빈도', ascending=False)

['the sun is shining apple orange', 'the weather is sweet apple orange', 'the sun is shining and the weather is sweet apple orange']

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\dtypes\dtypes.py:458: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if string == 'category':

        단어  빈도
2       is   4
7      the   4
1    apple   3
3   orange   3
4  shining   2
5      sun   2
6    sweet   2
8  weather   2
0      and   1

4. td_idf 값 출력

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
tdm=tfidf_vectorizer.fit_transform(docs)
# 3. 추출한 Token의 빈도를 출력
print(tfidf_vectorizer.vocabulary_) 
#td_idf 값 출력
tdm.toarray()
# sentence = [text_data[3]] # ['점심 먹고 공부 해야지']
# print(tfidf_vectorizer.transform(text_data).toarray())

{'the': 7, 'sun': 5, 'is': 2, 'shining': 4, 'apple': 1, 'orange': 3, 'weather': 8, 'sweet': 6, 'and': 0}

array([[0.        , 0.36970534, 0.36970534, 0.36970534, 0.47606294,
        0.47606294, 0.        , 0.36970534, 0.        ],
       [0.        , 0.36970534, 0.36970534, 0.36970534, 0.        ,
        0.        , 0.47606294, 0.36970534, 0.47606294],
       [0.38342973, 0.22645977, 0.45291955, 0.22645977, 0.29160819,
        0.29160819, 0.29160819, 0.45291955, 0.29160819]])